<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Редактировать модуль</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
<header class="header">
    <div>
        <img class="logo" th:src="@{/img/logo.png}">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </div>
</header>
<section class="d-flex justify-content-center align-items-center">
    <div class="container">
        <h2 class="admin-title">Редактирование модуля</h2>

        <form th:action="@{/admin/update-module}" method="post" class="admin-form">
            <input type="hidden" name="id" th:value="${module.id}">
            <input type="hidden" name="courseId" th:value="${module.course.id}">

            <div class="admin-form-group">
                <label class="admin-label">Название:</label>
                <input type="text" name="title" th:value="${module.title}" required class="admin-input">
            </div>

            <div class="admin-form-group">
                <label class="admin-label">Описание:</label>
                <textarea name="description" rows="5" class="admin-textarea"
                          th:text="${module.description}"></textarea>
            </div>

            <div class="admin-form-actions">
                <button type="submit" class="admin-btn">💾 Сохранить</button>
            </div>
        </form>

        <a th:href="@{/admin/panel}" class="admin-btn-back">← Назад</a>
    </div>
</section>
<p style="margin: 0 auto; text-align: center;padding-top: 50px;padding-bottom: 30px;">2020-2025 © Web-Beam все права защищены</p>
</body>
</html>
