<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>Курсы</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
    <div>
        <img class="logo" th:src="@{/img/logo.png}">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Выйти</button>
        </form>
    </div>
</header>

<section class="d-flex justify-content-center align-items-center">
    <div class="container">
        <h1 class="courses__head__title">Список курсов</h1>
        <div class="d-flex flex-wrap justify-content-space">
            <div th:each="course : ${courses}" class="courses__bg">
                <div>
                    <p class="courses__title"><a th:href="@{'/courses/' + ${course.id}}" th:text="${course.title}">Название курса</a></p>
                    <p th:text="${course.description}" class="sub__title">Описание</p>
                </div>
                <div class="courses__block__icons">
                    <img class="icon__courses" th:each="icon : ${course.icons}" th:src="@{'/img/' + ${icon}}" alt="icon" />
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>